src/main/app/sync.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <http:listener-config name="httpListenerSync" host="localhost" port="8083" doc:name="HTTP Listener Configuration">
        <http:worker-threading-profile maxThreadsActive="10" poolExhaustedAction="WAIT" threadWaitTimeout="30000"/>
    </http:listener-config>   
    <flow name="sync">
        <http:listener config-ref="httpListenerSync" path="/hello" doc:name="HTTP"/> 
        <set-payload value="#['Hello World'.toUpperCase()]" doc:name="Set Payload"/>
        <component class="it.iol.mule.component.SleepProcess" doc:name="Sleep"/>
        <logger message="Received #[message.payload]" level="INFO" doc:name="Logger"/>
    </flow>
</mule>
